mat-card-header {
    background-color: lightgray;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.education, .certifications {
    text-align: center;
    width: 50%;
}

.cajuns-logo {
    margin-top: 10px;
    width: 125px;
    height: 75px;
}

.aws-logo{
    margin-top: 30px;
    height: 75px;
} 

@media screen and (min-width: 1700px)  {
    
    .education-content {
        margin-top: 20%;
    }
    
    .certification {
        margin-top: 5%;
        margin-bottom: 10%;
    }
     
}

@media screen and (max-width: 1200px)  {
    
    .education-content {
        margin-top: 3rem;
    }
    
    .certification {
        display: flex;
        flex-direction: row;
        margin: 2rem;
    }

    .certification-info {
        margin-top: 2rem;
        margin-left: 2rem;
    }
     
}
