mat-card-header {
    background-color: lightgray;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.education, .certifications {
    text-align: center;
    width: 50%;
}

.education-content, .certification-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 44vh;
    margin: auto;
}

.cert {
    margin-top: 4rem;
    margin-bottom: 5rem
}

@media screen and (max-width: 1300px) {
    .education-content, .certification-content {
        max-width: 88vh;
    }

    .cards {
        height: auto;
    }

    .cert {
        margin-top: 0;
        margin-bottom: 0;
    }
}
