.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 7rem;
    overflow: hidden;
}

.about-me-content {
    font-size: 25px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5rem;
    line-height: 2rem;
}



.about-me-content img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

p{
    margin-left: 30px;
}

@media screen and (max-width: 1300px) {
    .about-me-content {
        flex-direction: column;
        padding: 1rem;
    }

    img {
        margin-bottom: 25px;
        margin-top: 10px;
        height: 100px;
        width: 100px;
    }

    p {
        font-size:20px;
        text-align: center;
    }

}