.about-me-content {
    font-size: 25px;
    background-color: lightgray;
    padding: 4rem;
    margin: 7rem;
    display: flex;
    flex-direction: row;
    line-height: 2rem;
}



.about-me-content img{
    margin-top: 25px;
    margin-right: 30px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.about-me-content p{
    margin-left: 30px;
}

@media screen and (max-width: 1200px) {
    .about-me-content {
        margin-top: 2rem;
        padding: 1.5rem;
    }

    .about-me-content img{
        margin-top: 4rem;
    }

}