.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-top: 2rem;
    overflow: hidden;
}

.about-me-content {
    font-size: 25px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    line-height: 2rem;
    padding: 1rem;
    height: 44vh;
}

.quote {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}

.about-me-content img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}



@media screen and (max-width: 1300px) {

    .about-me {
        margin-top: 0;
    }

    .about-me-content-container {
        display: flex;
        flex-direction: row;
    }
    
    .about-me-content {
        font-size: 18px;
        margin: 0;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        height: 88vh;
        width: 80%;
        line-height: 2rem;
    }

    .about-me-content img {
        height: 125px;
        width: 125px;
    }

    p {
        text-align: center;
    }

    .quote {
        height: 88vh;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 600px) {
    
    .about-me {
        overflow: scroll;
    }

    .about-me-content {
        background-color: white;
    }

    .quote {
        width: 90%
    }
}