.contact {
    text-align: center;
    margin-top: 15px;
}

ul {
    list-style-type: none;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    margin-inline: 12rem;
    display: inline;
}

img {
    height: 150px;
}

.contact-link:hover {
    height: 180px;
}

@media screen and (max-width: 1200px) {

    li {
        margin-inline: 7rem;
    }
    img {
        height: 100px;
    }
    
    .contact-link:hover {
        height: 120px;
    }
}