.contact {
    text-align: center;
    margin-top: 15px;
}

ul {
    list-style-type: none;
    padding: 5px;
    margin-top: 10%;
}

li {
    margin: 7rem;
    display: inline;
}

img {
    height: 150px;
}

.contact-link:hover {
    height: 180px;
}

@media screen and (max-width: 1200px) {

    img {
        height: 100px;
    }
    
    .contact-link:hover {
        height: 120px;
    }
}