.skill ul {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  margin-top: 4rem;
  height: 100%;
  overflow: hidden;
}

ul li {
  flex: 1 0 33%;
  list-style: none;
}

.skill {
  width: 85%;
  height: 77vh;
  margin: auto;
}