.toolbar-title, .bottom-bar-message {
    flex: 1 1 auto;
    text-align: center;
    display: inline;
}

.toolbar-image{
    text-align: right;
    height: 50px;
    border-radius: 50%;
}

.title-text {
    font: 50px;
}

.git-logo {
    margin-top: 0.5rem;
    height: 50px;
}

.outlet {
    height: 86vh;
}

.under-construction {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.list-item:hover {
    font-weight: bold;
    cursor: pointer;
}

.toolbar-image:hover{
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    
    .under-construction {
        
        text-align: center;
        display: block;
        height: 100%;
        width: 100%;

        .under-construction-message {
            height: 100%;
        }

        img {
            margin-top: 10rem;
            height: 150px;
            width: 150px;
        }

    
    }

    .resume {
        display: none;
    }
}