<div class="under-construction">
  <div class="under-construction-message">
    <img src="assets/sad-emoji.gif" alt="sadness">
    <h1>Sorry! This website isn't ready to be viewed on this type of device!</h1>
    <h1>Please try and view this website using a device with a larger screen :&#41;</h1>
  </div>
</div>
<div class="resume">
  <mat-toolbar color={{stateService.getColor()}}>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title"><h1 class="title-text">Travis Broussard</h1></span>
      <img class="toolbar-image travis" src="assets/travis.jpeg" alt="Travis head shot" (click)="changeMenuColor()">
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav  #sidenav>
      <mat-list>
        <a href="/" mat-list-item><span class="list-item">About Me</span></a>
        <mat-divider></mat-divider>
        <a href="/skills" mat-list-item><span class="list-item">Skills</span></a>
        <mat-divider></mat-divider>
        <a href="/history" mat-list-item><span class="list-item">Work History</span></a>
        <mat-divider></mat-divider>
        <a href="/education" mat-list-item><span class="list-item">Education and Certifications</span></a>
        <mat-divider></mat-divider>
        <a href="/contact" mat-list-item><span class="list-item">Contact Me</span></a>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="outlet">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar color={{stateService.getColor()}}>
    <mat-toolbar-row >
      <span class="bottom-bar-message">
        <a href="https://github.com/travisb1210/travis-resume"><img class="git-logo" src="assets/git.png" alt="GIT logo"></a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>  
</div>
