.toolbar-title, .bottom-bar-message {
    flex: 1 1 auto;
    text-align: center;
    display: inline;
}

.toolbar-image{
    text-align: right;
    height: 50px;
    border-radius: 50%;
}


.title-text {
    font: 50px;
}

.git-logo {
    margin-top: 0.5rem;
    height: 50px;
}

