.quote {
    font-size: 25px;
    line-height: 2rem;
    text-align: center;
}

p {
    margin: 3rem;
}

.words {
    font-style: italic;
}

@media screen and (max-width: 600px) {
    
    .quote {
        font-size: 20px;
    }

    p {
        margin: 1rem;
    }
}